.a-container {
  min-height: 100vh;
}
.a-landingpage {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.a-screenshot20221210194202gallery1 {
  top: 427px;
  left: 78px;
  width: 302px;
  height: 386px;
  position: absolute;
  border-color: transparent;
}
.a-screenshot20221210194202gallery2 {
  top: 427px;
  left: 440px;
  width: 301px;
  height: 386px;
  position: absolute;
  border-color: transparent;
}
.a-screenshot20221210194202gallery4 {
  top: 427px;
  left: 1145px;
  width: 301px;
  height: 386px;
  position: absolute;
  border-color: transparent;
}
.a-screenshot20221210194202gallery6 {
  top: 427px;
  left: 1506px;
  width: 301px;
  height: 386px;
  position: absolute;
  border-color: transparent;
}
.a-screenshot20221210194202gallery5 {
  top: 427px;
  left: 783px;
  width: 301px;
  height: 386px;
  position: absolute;
  border-color: transparent;
}
.a-rectangle16 {
  top: 2px;
  left: 0px;
  width: 1280px;
  height: 204px;
  position: absolute;
  border-color: transparent;
}
.a-image9 {
  top: 302px;
  left: 465px;
  width: 186px;
  height: 65px;
  position: absolute;
  border-color: transparent;
}
.a-image10 {
  top: 308px;
  left: 711px;
  width: 215px;
  height: 51px;
  position: absolute;
  border-color: transparent;
}
.a-line3 {
  top: 391px;
  left: 173px;
  width: 902px;
  height: 0px;
  position: absolute;
}
.a-text {
  top: 225px;
  left: 348px;
  color: var(--dl-color-default-verdone);
  width: 606px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.a-l-o-g-oremovebgpreview1 {
  top: 74px;
  left: 29px;
  width: 166px;
  height: 130px;
  position: absolute;
  border-color: transparent;
}
.a-text02 {
  top: 18px;
  left: 392px;
  color: var(--dl-color-default-verdone);
  width: 496px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.a-rectangle2 {
  top: 104px;
  left: 201px;
  width: 122px;
  height: 86px;
  position: absolute;
  border-color: transparent;
}
.a-text04 {
  top: 135px;
  left: 196px;
  color: var(--dl-color-default-nero);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.a-rectangle13 {
  top: 104px;
  left: 842px;
  width: 122px;
  height: 86px;
  position: absolute;
  border-color: transparent;
}
.a-text06 {
  top: 135px;
  left: 837px;
  color: var(--dl-color-default-nero);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.a-rectangle14 {
  top: 104px;
  left: 1002px;
  width: 156px;
  height: 86px;
  position: absolute;
  border-color: transparent;
}
.a-text08 {
  top: 133px;
  left: 1002px;
  color: var(--dl-color-default-nero);
  width: 153px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.a-rectangle15 {
  top: 63px;
  left: 980px;
  width: 175px;
  height: 37px;
  position: absolute;
  border-color: transparent;
}
.a-text10 {
  top: 66px;
  left: 977px;
  color: var(--dl-color-default-nero);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.a-rectangle12 {
  top: 104px;
  left: 643px;
  width: 176px;
  height: 86px;
  position: absolute;
  border-color: transparent;
}
.a-text12 {
  top: 136px;
  left: 637px;
  color: var(--dl-color-default-nero);
  width: 186px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.a-rectangle11 {
  top: 104px;
  left: 361px;
  width: 251px;
  height: 86px;
  position: absolute;
  border-color: transparent;
}
.a-text14 {
  top: 135px;
  left: 361px;
  color: var(--dl-color-default-nero);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.a-link {
  display: contents;
}
.a-facebook {
  top: 30px;
  left: 1066px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.a-link1 {
  display: contents;
}
.a-instagram {
  top: 30px;
  left: 1032px;
  width: 34px;
  height: 35px;
  position: absolute;
}
