.landingpage-container {
  min-height: 100vh;
}
.landingpage-landingpage {
  width: 100%;
  height: 1599px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.landingpage-screenshot20221210194202gallery1 {
  top: 310px;
  left: 40px;
  width: 242px;
  height: 309px;
  position: absolute;
  border-color: transparent;
}
.landingpage-screenshot20221210194202gallery2 {
  top: 312px;
  left: 344px;
  width: 239px;
  height: 307px;
  position: absolute;
  border-color: transparent;
}
.landingpage-screenshot20221210194202gallery4 {
  top: 312px;
  left: 955px;
  width: 239px;
  height: 307px;
  position: absolute;
  border-color: transparent;
}
.landingpage-screenshot20221210194202gallery7 {
  top: 1068px;
  left: 867px;
  width: 285px;
  height: 331px;
  position: absolute;
  border-color: transparent;
}
.landingpage-screenshot20221210194202gallery6 {
  top: 427px;
  left: 1506px;
  width: 301px;
  height: 386px;
  position: absolute;
  border-color: transparent;
}
.landingpage-screenshot20221210194202gallery5 {
  top: 312px;
  left: 650px;
  width: 239px;
  height: 307px;
  position: absolute;
  border-color: transparent;
}
.landingpage-line2 {
  top: 641px;
  left: 160.9989013671875px;
  width: 927px;
  height: 0px;
  position: absolute;
}
.landingpage-line4 {
  top: 1456px;
  left: 168px;
  width: 927px;
  height: 0px;
  position: absolute;
}
.landingpage-line3 {
  top: 288px;
  left: 161px;
  width: 914px;
  height: 0px;
  position: absolute;
}
.landingpage-rectangle16 {
  top: -1px;
  left: -23px;
  width: 1280px;
  height: 93px;
  position: absolute;
  border-color: transparent;
}
.landingpage-text {
  top: 113px;
  left: 338px;
  color: var(--dl-color-default-verdone);
  width: 557px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-l-o-g-oremovebgpreview1 {
  top: -29px;
  left: 131px;
  width: 166px;
  height: 130px;
  position: absolute;
  border-color: transparent;
}
.landingpage-text02 {
  top: 19px;
  left: 435px;
  color: var(--dl-color-default-verdone);
  width: 365px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-link {
  display: contents;
}
.landingpage-facebook {
  top: 19px;
  left: 1017px;
  width: 54px;
  height: 54px;
  position: absolute;
}
.landingpage-link1 {
  display: contents;
}
.landingpage-instagram {
  top: 19px;
  left: 963px;
  width: 54px;
  height: 56px;
  position: absolute;
}
.landingpage-rectangle24 {
  top: 2190px;
  left: 230px;
  width: 228px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.landingpage-rectangle25 {
  top: 2144px;
  left: 65px;
  width: 224px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.landingpage-i-m-a-g-e2018081118582511 {
  top: 726px;
  left: 49px;
  width: 508px;
  height: 307px;
  position: absolute;
  border-color: transparent;
}
.landingpage-text04 {
  top: 1033px;
  left: 49px;
  color: rgba(0, 0, 0, 1);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-text06 {
  top: 732px;
  left: 599px;
  color: rgba(0, 0, 0, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Inter;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-text13 {
  top: 1139px;
  left: 61px;
  color: rgba(0, 0, 0, 1);
  width: 761px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Inter;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-image3 {
  top: 1286px;
  left: 389px;
  width: 69px;
  height: 65px;
  position: absolute;
  border-color: transparent;
}
.landingpage-image4 {
  top: 1294px;
  left: 103px;
  width: 101px;
  height: 66px;
  position: absolute;
  border-color: transparent;
}
.landingpage-image6 {
  top: 1286px;
  left: 660px;
  width: 57px;
  height: 69px;
  position: absolute;
  border-color: transparent;
}
.landingpage-text15 {
  top: 663px;
  left: 420px;
  color: var(--dl-color-default-verdone);
  width: 424px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-text17 {
  top: 1066px;
  left: 420px;
  color: var(--dl-color-default-verdone);
  width: 424px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-text19 {
  top: 1367px;
  left: 575px;
  color: var(--dl-color-default-verdone);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-text21 {
  top: 1366px;
  left: 43px;
  color: var(--dl-color-default-verdone);
  width: 229px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-text23 {
  top: 1367px;
  left: 269px;
  color: var(--dl-color-default-verdone);
  width: 299px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-app-store {
  top: 194px;
  left: 285px;
  width: 263px;
  height: 76px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.landingpage-group {
  top: 0px;
  left: 0px;
  width: 263.0769348144531px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landingpage-b-g {
  top: 1.433962345123291px;
  left: 1.461538553237915px;
  width: 260px;
  height: 73px;
  position: absolute;
}
.landingpage-border {
  left: 0px;
  width: 263px;
  bottom: -1px;
  height: 76px;
  position: absolute;
}
.landingpage-icon {
  top: 11.812288284301758px;
  left: 24.92782211303711px;
  width: 40.44778060913086px;
  height: 48.471961975097656px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landingpage-vector {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 48px;
  position: absolute;
}
.landingpage-downloadonthe {
  top: 12.456395149230957px;
  left: 85.11222839355469px;
  width: 151.08607482910156px;
  height: 13.269598960876465px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landingpage-d {
  top: 0.5510101318359375px;
  left: 0px;
  width: 10px;
  height: 13px;
  position: absolute;
}
.landingpage-o {
  top: 3.9273061752319336px;
  left: 12.892723083496094px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.landingpage-w {
  top: 4.109702110290527px;
  left: 23.88934326171875px;
  width: 13px;
  height: 9px;
  position: absolute;
}
.landingpage-n {
  top: 3.9216184616088867px;
  left: 39.734375px;
  width: 8px;
  height: 9px;
  position: absolute;
}
.landingpage-l {
  top: 0px;
  left: 51.37797546386719px;
  width: 2px;
  height: 13px;
  position: absolute;
}
.landingpage-o1 {
  top: 3.9273061752319336px;
  left: 56.44462585449219px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.landingpage-a {
  top: 3.9273061752319336px;
  left: 67.78422546386719px;
  width: 8px;
  height: 9px;
  position: absolute;
}
.landingpage-d1 {
  top: 0px;
  left: 78.16116333007812px;
  width: 9px;
  height: 13px;
  position: absolute;
}
.landingpage-o2 {
  top: 3.9273061752319336px;
  left: 95.39950561523438px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.landingpage-n1 {
  top: 3.9216184616088867px;
  left: 107.32760620117188px;
  width: 8px;
  height: 9px;
  position: absolute;
}
.landingpage-t {
  top: 1.8791141510009766px;
  left: 123.52732849121094px;
  width: 6px;
  height: 11px;
  position: absolute;
}
.landingpage-h {
  top: 0px;
  left: 131.9554901123047px;
  width: 8px;
  height: 13px;
  position: absolute;
}
.landingpage-e {
  top: 3.9101953506469727px;
  left: 142.91896057128906px;
  width: 8px;
  height: 9px;
  position: absolute;
}
.landingpage-app-store1 {
  top: 34.20188903808594px;
  left: 82.64512634277344px;
  width: 155.4024658203125px;
  height: 33.08470153808594px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landingpage-a1 {
  top: 0.3704643249511719px;
  left: 0px;
  width: 22px;
  height: 25px;
  position: absolute;
}
.landingpage-p {
  top: 7.04901123046875px;
  left: 25.354759216308594px;
  width: 18px;
  height: 26px;
  position: absolute;
}
.landingpage-p1 {
  top: 7.04901123046875px;
  left: 46.86473083496094px;
  width: 18px;
  height: 26px;
  position: absolute;
}
.landingpage-s {
  top: 0px;
  left: 72.82943725585938px;
  width: 16px;
  height: 26px;
  position: absolute;
}
.landingpage-t1 {
  top: 2.8803787231445312px;
  left: 91.26626586914062px;
  width: 11px;
  height: 23px;
  position: absolute;
}
.landingpage-o3 {
  top: 7.050895690917969px;
  left: 105.00079345703125px;
  width: 18px;
  height: 19px;
  position: absolute;
}
.landingpage-r {
  top: 7.04901123046875px;
  left: 126.81669616699219px;
  width: 10px;
  height: 19px;
  position: absolute;
}
.landingpage-e1 {
  top: 7.014793395996094px;
  left: 138.78379821777344px;
  width: 17px;
  height: 19px;
  position: absolute;
}
.landingpage-google-play {
  top: 269px;
  left: 691px;
  width: 210px;
  height: 60.79999923706055px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.landingpage-group1 {
  top: -71px;
  right: -24px;
  width: 209.59999084472656px;
  height: 60.79999542236328px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landingpage-b-g1 {
  right: -8px;
  width: 210px;
  bottom: -6px;
  height: 61px;
  position: absolute;
}
.landingpage-border1 {
  right: -7px;
  width: 210px;
  bottom: -5px;
  height: 61px;
  position: absolute;
}
.landingpage-icon1 {
  top: 14px;
  left: 14px;
  width: 35.852699279785156px;
  height: 39.09575271606445px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landingpage-vector1 {
  top: 0.49981689453125px;
  left: 0px;
  width: 20px;
  height: 38px;
  position: absolute;
}
.landingpage-vector2 {
  top: 13.049334526062012px;
  left: 20.073020935058594px;
  width: 16px;
  height: 13px;
  position: absolute;
}
.landingpage-vector3 {
  top: 0px;
  left: 0.7199945449829102px;
  width: 26px;
  height: 20px;
  position: absolute;
}
.landingpage-vector4 {
  top: 19.551109313964844px;
  left: 0.7199945449829102px;
  width: 26px;
  height: 20px;
  position: absolute;
}
.landingpage-g-e-t-i-t-o-n {
  top: 40.834800720214844px;
  left: 64.20357513427734px;
  width: 60.314334869384766px;
  height: 9.5303955078125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landingpage-g {
  top: 9.5303955078125px;
  left: 0px;
  width: 9px;
  height: 10px;
  position: absolute;
}
.landingpage-e2 {
  top: 9.321407318115234px;
  left: 11.135963439941406px;
  width: 5px;
  height: 9px;
  position: absolute;
}
.landingpage-t2 {
  top: 9.321407318115234px;
  left: 17.82373046875px;
  width: 6px;
  height: 9px;
  position: absolute;
}
.landingpage-i {
  top: 9.321407318115234px;
  left: 28.853012084960938px;
  width: 1px;
  height: 9px;
  position: absolute;
}
.landingpage-t3 {
  top: 9.321407318115234px;
  left: 31.56029510498047px;
  width: 6px;
  height: 9px;
  position: absolute;
}
.landingpage-o4 {
  top: 9.5303955078125px;
  left: 41.877288818359375px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.landingpage-n2 {
  top: 9.321407318115234px;
  left: 53.13553237915039px;
  width: 7px;
  height: 9px;
  position: absolute;
}
.landingpage-google-play1 {
  top: 9.002181053161621px;
  left: 63.71840286254883px;
  width: 131.62875366210938px;
  height: 25.887493133544922px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.landingpage-google-play2 {
  right: -8px;
  width: 132px;
  bottom: -1px;
  height: 26px;
  position: absolute;
}
.landingpage-text25 {
  top: 1398px;
  left: 867px;
  color: rgba(0, 0, 0, 1);
  width: 274px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-immagine202212111811591 {
  top: 1530px;
  left: 717px;
  width: 50px;
  height: 36px;
  position: absolute;
  border-color: transparent;
}
.landingpage-text27 {
  top: 1478px;
  left: 575px;
  color: var(--dl-color-default-verdone);
  width: 142px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-link2 {
  display: contents;
}
.landingpage-instagram1 {
  top: 1523px;
  left: 226px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.landingpage-link3 {
  display: contents;
}
.landingpage-facebook1 {
  top: 1523px;
  left: 465px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.landingpage-text29 {
  top: 1523px;
  left: 282px;
  color: var(--dl-color-default-nero);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: justified;
  font-family: Inter;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-text34 {
  top: 1523px;
  left: 526px;
  color: var(--dl-color-default-nero);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: justified;
  font-family: Inter;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.landingpage-text39 {
  top: 1523px;
  left: 781px;
  color: var(--dl-color-default-nero);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: justified;
  font-family: Inter;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
