.2_2 { 
	overflow:hidden;
}.e2_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e2_3 { 
	background-color:rgba(88.00000235438347, 129.00000751018524, 87.00000241398811, 1);
	width:1840px;
	height:1000px;
	position:absolute;
	left:40px;
	top:40px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}.e2_4 { 
	background-color:rgba(255, 255, 255, 0.5);
	width:1840px;
	height:1000px;
	position:absolute;
	left:40px;
	top:40px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}.e3_33 { 
	color:rgba(0, 0, 0, 1);
	width:430px;
	height:96px;
	position:absolute;
	left:764px;
	top:625px;
	font-family:Poppins;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.e3_303 { 
	color:rgba(0, 0, 0, 1);
	width:231px;
	height:36px;
	position:absolute;
	left:864px;
	top:728px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e102_6 { 
	color:rgba(0, 0, 0, 1);
	width:457px;
	height:197px;
	position:absolute;
	left:758px;
	top:374px;
	font-family:Montserrat;
	text-align:center;
	font-size:250px;
	letter-spacing:0;
}.e102_7 { 
	color:rgba(0, 0, 0, 1);
	width:873px;
	height:178px;
	position:absolute;
	left:550px;
	top:285px;
	font-family:Poppins;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}