.1_232 { 
	overflow:hidden;
}.e1_232 { 
	background-color:rgba(255, 255, 255, 1);
	width:1906px;
	height:832px;
	position:absolute;
}.e5_542 { 
	width:302px;
	height:386px;
	position:absolute;
	left:78px;
	top:427px;
	background-image:url(images/screenshot_20221210_194202_gallery_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_543 { 
	width:301px;
	height:386px;
	position:absolute;
	left:440px;
	top:427px;
	background-image:url(images/screenshot_20221210_194202_gallery_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_545 { 
	width:301px;
	height:386px;
	position:absolute;
	left:1145px;
	top:427px;
	background-image:url(images/screenshot_20221210_194202_gallery_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_550 { 
	width:301px;
	height:386px;
	position:absolute;
	left:1506px;
	top:427px;
	background-image:url(images/screenshot_20221210_194202_gallery_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_547 { 
	width:301px;
	height:386px;
	position:absolute;
	left:783px;
	top:427px;
	background-image:url(images/screenshot_20221210_194202_gallery_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.5_546 { 
	border:1px solid rgba(18.891246803104877, 134.93749290704727, 0, 1);
}.e5_546 { 
	width:902.002197265625px;
	height:0px;
	position:absolute;
	left:189px;
	top:965px;
}.e1_233 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:1280px;
	height:204px;
	position:absolute;
	left:0px;
	top:2px;
}.e45_268 { 
	width:152.30767822265625px;
	height:44px;
	position:absolute;
	left:705px;
	top:367px;
}.ei45_268_302_185 { 
	width:152.30767822265625px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}.ei45_268_302_157 { 
	background-color:rgba(0, 0, 0, 1);
	width:152.30767822265625px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}.ei45_268_302_158 { 
	background-color:rgba(166.00000530481339, 166.00000530481339, 166.00000530481339, 1);
	width:152.30767822265625px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}.ei45_268_302_184 { 
	width:26.052677154541016px;
	height:28.292978286743164px;
	position:absolute;
	left:11.249626159667969px;
	top:7.851171016693115px;
}.ei45_268_302_175 { 
	background-image:linear-gradient(0deg, rgba(0, 160.00000566244125, 255, 1) 0%,rgba(0, 161.0000056028366, 255, 1) 0.6599999964237213%,rgba(0, 190.0000038743019, 255, 1) 26.010000705718994%,rgba(0, 210.00000268220901, 255, 1) 51.21999979019165%,rgba(0, 223.00000190734863, 255, 1) 76.03999972343445%,rgba(0, 227.00000166893005, 255, 1) 100%) ;
	width:14.586271286010742px;
	height:27.57425308227539px;
	position:absolute;
	left:0px;
	top:0.3617091178894043px;
}.ei45_268_302_177 { 
	background-image:linear-gradient(0deg, rgba(255, 224.000001847744, 0, 1) 0%,rgba(255, 189.00000393390656, 0, 1) 40.869998931884766%,rgba(255, 165.00000536441803, 0, 1) 77.53999829292297%,rgba(255, 156.00000590085983, 0, 1) 100%) ;
	width:11.466440200805664px;
	height:9.410499572753906px;
	position:absolute;
	left:14.586236953735352px;
	top:9.443595886230469px;
}.ei45_268_302_179 { 
	background-image:linear-gradient(0deg, rgba(255, 58.00000034272671, 68.00000354647636, 1) 0%,rgba(195.0000035762787, 17.00000088661909, 98.00000175833702, 1) 100%) ;
	width:18.828327178955078px;
	height:14.148828506469727px;
	position:absolute;
	left:0.5231904983520508px;
	top:0px;
}.ei45_268_302_181 { 
	background-image:linear-gradient(0deg, rgba(50.000000819563866, 160.00000566244125, 113.00000086426735, 1) 0%,rgba(45.00000111758709, 167.00000524520874, 113.00000086426735, 1) 6.849999725818634%,rgba(21.000000648200512, 207.00000286102295, 116.00000068545341, 1) 47.620001435279846%,rgba(6.000000117346644, 231.00000143051147, 117.00000062584877, 1) 80.08999824523926%,rgba(0, 240.00000089406967, 118.00000056624413, 1) 100%) ;
	width:18.828327178955078px;
	height:14.144149780273438px;
	position:absolute;
	left:0.5231904983520508px;
	top:14.148828506469727px;
}.ei45_268_302_189 { 
	width:43.82793426513672px;
	height:6.896997451782227px;
	position:absolute;
	left:46.654090881347656px;
	top:29.55150032043457px;
}.ei45_268_302_160 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.842559814453125px;
	height:6.896997451782227px;
	position:absolute;
	left:0px;
	top:6.896997451782227px;
}.i45_268_302_160 { 
	border:0.1599999964237213px solid rgba(255, 255, 255, 1);
}.ei45_268_302_162 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.9501304626464844px;
	height:6.594499588012695px;
	position:absolute;
	left:8.092044830322266px;
	top:6.745756149291992px;
}.i45_268_302_162 { 
	border:0.1599999964237213px solid rgba(255, 255, 255, 1);
}.ei45_268_302_164 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.649608612060547px;
	height:6.594499588012695px;
	position:absolute;
	left:12.951770782470703px;
	top:6.745756149291992px;
}.i45_268_302_164 { 
	border:0.1599999964237213px solid rgba(255, 255, 255, 1);
}.ei45_268_302_166 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.8701324462890625px;
	height:6.594499588012695px;
	position:absolute;
	left:20.966293334960938px;
	top:6.745756149291992px;
}.i45_268_302_166 { 
	border:0.1599999964237213px solid rgba(255, 255, 255, 1);
}.ei45_268_302_168 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.655242919921875px;
	height:6.594499588012695px;
	position:absolute;
	left:22.933563232421875px;
	top:6.745756149291992px;
}.i45_268_302_168 { 
	border:0.1599999964237213px solid rgba(255, 255, 255, 1);
}.ei45_268_302_170 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.958213806152344px;
	height:6.896997451782227px;
	position:absolute;
	left:30.430496215820312px;
	top:6.896997451782227px;
}.i45_268_302_170 { 
	border:0.1599999964237213px solid rgba(255, 255, 255, 1);
}.ei45_268_302_172 { 
	background-color:rgba(255, 255, 255, 1);
	width:5.2165374755859375px;
	height:6.594499588012695px;
	position:absolute;
	left:38.61139678955078px;
	top:6.745756149291992px;
}.i45_268_302_172 { 
	border:0.1599999964237213px solid rgba(255, 255, 255, 1);
}.ei45_268_302_191 { 
	width:95.64917755126953px;
	height:18.734371185302734px;
	position:absolute;
	left:46.301536560058594px;
	top:6.514736652374268px;
}.ei45_268_302_173 { 
	background-color:rgba(255, 255, 255, 1);
	width:95.64917755126953px;
	height:18.734371185302734px;
	position:absolute;
	left:0px;
	top:0px;
}.e45_269 { 
	width:201.953125px;
	height:55px;
	position:absolute;
	left:404px;
	top:312px;
}.ei45_269_302_244 { 
	width:201.953125px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
}.ei45_269_302_245 { 
	background-color:rgba(0, 0, 0, 1);
	width:199.70919799804688px;
	height:52.924530029296875px;
	position:absolute;
	left:1.1219618320465088px;
	top:1.0377358198165894px;
}.ei45_269_302_246 { 
	background-color:rgba(166.00000530481339, 166.00000530481339, 166.00000530481339, 1);
	width:201.95310974121094px;
	height:54.999996185302734px;
	position:absolute;
	left:6.377614636485923e-14px;
	top:55px;
}.ei45_269_302_247 { 
	width:31.050064086914062px;
	height:35.07839584350586px;
	position:absolute;
	left:19.136043548583984px;
	top:8.54836654663086px;
}.ei45_269_302_248 { 
	background-color:rgba(255, 255, 255, 1);
	width:31.050064086914062px;
	height:35.07839584350586px;
	position:absolute;
	left:0px;
	top:0px;
}.ei45_269_302_249 { 
	width:115.9824447631836px;
	height:9.602999687194824px;
	position:absolute;
	left:65.33708953857422px;
	top:9.014496803283691px;
}.ei45_269_302_250 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.039237976074219px;
	height:9.13687515258789px;
	position:absolute;
	left:0px;
	top:0.3987569808959961px;
}.ei45_269_302_251 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.90679931640625px;
	height:6.760873794555664px;
	position:absolute;
	left:9.897201538085938px;
	top:2.842129707336426px;
}.ei45_269_302_252 { 
	background-color:rgba(255, 255, 255, 1);
	width:10.217323303222656px;
	height:6.481749534606934px;
	position:absolute;
	left:18.338844299316406px;
	top:2.9741268157958984px;
}.ei45_269_302_253 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.181243896484375px;
	height:6.617877006530762px;
	position:absolute;
	left:30.502410888671875px;
	top:2.8380126953125px;
}.ei45_269_302_254 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.5662460327148438px;
	height:9.4558744430542px;
	position:absolute;
	left:39.440711975097656px;
	top:0px;
}.ei45_269_302_255 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.90679931640625px;
	height:6.760873794555664px;
	position:absolute;
	left:43.330177307128906px;
	top:2.842129707336426px;
}.ei45_269_302_256 { 
	background-color:rgba(255, 255, 255, 1);
	width:5.789314270019531px;
	height:6.760873794555664px;
	position:absolute;
	left:52.03510284423828px;
	top:2.842129707336426px;
}.ei45_269_302_257 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.7317657470703125px;
	height:9.602999687194824px;
	position:absolute;
	left:60.00104522705078px;
	top:0px;
}.ei45_269_302_258 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.90679931640625px;
	height:6.760873794555664px;
	position:absolute;
	left:73.23419952392578px;
	top:2.842129707336426px;
}.ei45_269_302_259 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.17974853515625px;
	height:6.617877006530762px;
	position:absolute;
	left:82.39090728759766px;
	top:2.8380126953125px;
}.ei45_269_302_260 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.29486083984375px;
	height:8.229373931884766px;
	position:absolute;
	left:94.82674407958984px;
	top:1.3598852157592773px;
}.ei45_269_302_261 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.12445068359375px;
	height:9.4558744430542px;
	position:absolute;
	left:101.29668426513672px;
	top:0px;
}.ei45_269_302_262 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.2695159912109375px;
	height:6.747124671936035px;
	position:absolute;
	left:109.71288299560547px;
	top:2.8297462463378906px;
}.ei45_269_302_263 { 
	width:119.29595947265625px;
	height:23.9428768157959px;
	position:absolute;
	left:63.44319534301758px;
	top:24.751367568969727px;
}.ei45_269_302_264 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.80698013305664px;
	height:18.29850196838379px;
	position:absolute;
	left:-1.4210854715202004e-14px;
	top:0.268096923828125px;
}.ei45_269_302_265 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.824066162109375px;
	height:18.841625213623047px;
	position:absolute;
	left:19.463787078857422px;
	top:5.101259231567383px;
}.ei45_269_302_266 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.82257080078125px;
	height:18.841625213623047px;
	position:absolute;
	left:35.9760856628418px;
	top:5.101259231567383px;
}.ei45_269_302_267 { 
	background-color:rgba(255, 255, 255, 1);
	width:12.350563049316406px;
	height:18.83750343322754px;
	position:absolute;
	left:55.90810012817383px;
	top:0px;
}.ei45_269_302_268 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.7423095703125px;
	height:16.75162696838379px;
	position:absolute;
	left:70.06129455566406px;
	top:2.084484100341797px;
}.ei45_269_302_269 { 
	background-color:rgba(255, 255, 255, 1);
	width:14.060409545898438px;
	height:13.762374877929688px;
	position:absolute;
	left:80.6047134399414px;
	top:5.102621078491211px;
}.ei45_269_302_270 { 
	background-color:rgba(255, 255, 255, 1);
	width:7.68023681640625px;
	height:13.465373992919922px;
	position:absolute;
	left:97.35186004638672px;
	top:5.101259231567383px;
}.ei45_269_302_271 { 
	background-color:rgba(255, 255, 255, 1);
	width:12.757431030273438px;
	height:13.734870910644531px;
	position:absolute;
	left:106.53851318359375px;
	top:5.076494216918945px;
}.5_548 { 
	border:1px solid rgba(18.891246803104877, 134.93749290704727, 0, 1);
}.e5_548 { 
	width:902.002197265625px;
	height:0px;
	position:absolute;
	left:173px;
	top:391px;
}.e1_540 { 
	color:rgba(18.891246803104877, 134.93749290704727, 0, 1);
	width:606px;
	height:50px;
	position:absolute;
	left:348px;
	top:225px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e1_234 { 
	width:166px;
	height:130px;
	position:absolute;
	left:29px;
	top:74px;
	background-image:url(images/logo_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_235 { 
	color:rgba(18.891246803104877, 134.93749290704727, 0, 1);
	width:496px;
	height:73px;
	position:absolute;
	left:392px;
	top:18px;
	font-family:Inter;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}.e1_236 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:122px;
	height:86px;
	position:absolute;
	left:201px;
	top:104px;
}.e1_237 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:132px;
	height:31px;
	position:absolute;
	left:196px;
	top:135px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_238 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:122px;
	height:86px;
	position:absolute;
	left:842px;
	top:104px;
}.e1_239 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:132px;
	height:31px;
	position:absolute;
	left:837px;
	top:135px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_240 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:156px;
	height:86px;
	position:absolute;
	left:1002px;
	top:104px;
}.e1_241 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:153px;
	height:31px;
	position:absolute;
	left:1002px;
	top:133px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_242 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:175px;
	height:37px;
	position:absolute;
	left:980px;
	top:63px;
}.e1_243 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:178px;
	height:31px;
	position:absolute;
	left:977px;
	top:66px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_244 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:176px;
	height:86px;
	position:absolute;
	left:643px;
	top:104px;
}.e1_245 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:186px;
	height:31px;
	position:absolute;
	left:637px;
	top:136px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_246 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:251px;
	height:86px;
	position:absolute;
	left:361px;
	top:104px;
}.e1_247 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:249px;
	height:32px;
	position:absolute;
	left:361px;
	top:135px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}