.48_122 { 
	overflow:hidden;
}.e48_122 { 
	background-color:rgba(255, 255, 255, 1);
	width:1906px;
	height:832px;
	position:absolute;
}.e48_123 { 
	width:302px;
	height:386px;
	position:absolute;
	left:78px;
	top:427px;
	background-image:url(images/screenshot_20221210_194202_gallery_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e48_124 { 
	width:301px;
	height:386px;
	position:absolute;
	left:440px;
	top:427px;
	background-image:url(images/screenshot_20221210_194202_gallery_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e48_125 { 
	width:301px;
	height:386px;
	position:absolute;
	left:1145px;
	top:427px;
	background-image:url(images/screenshot_20221210_194202_gallery_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e48_126 { 
	width:301px;
	height:386px;
	position:absolute;
	left:1506px;
	top:427px;
	background-image:url(images/screenshot_20221210_194202_gallery_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e48_127 { 
	width:301px;
	height:386px;
	position:absolute;
	left:783px;
	top:427px;
	background-image:url(images/screenshot_20221210_194202_gallery_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.48_128 { 
	border:1px solid rgba(18.891246803104877, 134.93749290704727, 0, 1);
}.e48_128 { 
	width:902.002197265625px;
	height:0px;
	position:absolute;
	left:189px;
	top:965px;
}.e48_129 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:1280px;
	height:204px;
	position:absolute;
	left:0px;
	top:2px;
}.e48_203 { 
	width:186px;
	height:65px;
	position:absolute;
	left:465px;
	top:302px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e48_205 { 
	width:215.5px;
	height:51px;
	position:absolute;
	left:711px;
	top:308px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}.48_132 { 
	border:1px solid rgba(18.891246803104877, 134.93749290704727, 0, 1);
}.e48_132 { 
	width:902.002197265625px;
	height:0px;
	position:absolute;
	left:173px;
	top:391px;
}.e48_133 { 
	color:rgba(18.891246803104877, 134.93749290704727, 0, 1);
	width:606px;
	height:50px;
	position:absolute;
	left:348px;
	top:225px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e48_134 { 
	width:166px;
	height:130px;
	position:absolute;
	left:29px;
	top:74px;
	background-image:url(images/logo_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e48_135 { 
	color:rgba(18.891246803104877, 134.93749290704727, 0, 1);
	width:496px;
	height:73px;
	position:absolute;
	left:392px;
	top:18px;
	font-family:Inter;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}.e48_136 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:122px;
	height:86px;
	position:absolute;
	left:201px;
	top:104px;
}.e48_137 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:132px;
	height:31px;
	position:absolute;
	left:196px;
	top:135px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e48_138 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:122px;
	height:86px;
	position:absolute;
	left:842px;
	top:104px;
}.e48_139 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:132px;
	height:31px;
	position:absolute;
	left:837px;
	top:135px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e48_140 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:156px;
	height:86px;
	position:absolute;
	left:1002px;
	top:104px;
}.e48_141 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:153px;
	height:31px;
	position:absolute;
	left:1002px;
	top:133px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e48_142 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:175px;
	height:37px;
	position:absolute;
	left:980px;
	top:63px;
}.e48_143 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:178px;
	height:31px;
	position:absolute;
	left:977px;
	top:66px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e48_144 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:176px;
	height:86px;
	position:absolute;
	left:643px;
	top:104px;
}.e48_145 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:186px;
	height:31px;
	position:absolute;
	left:637px;
	top:136px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e48_146 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:251px;
	height:86px;
	position:absolute;
	left:361px;
	top:104px;
}.e48_147 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:249px;
	height:32px;
	position:absolute;
	left:361px;
	top:135px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e48_194 { 
	width:35px;
	height:35px;
	position:absolute;
	left:1066px;
	top:30px;
}.ei48_194_276_3 { 
	background-image:linear-gradient(0deg, rgba(0, 98.00000175833702, 224.000001847744, 1) 0%,rgba(25.000000409781933, 175.00000476837158, 255, 1) 100%) ;
	width:26.25px;
	height:26.10416603088379px;
	position:absolute;
	left:4.375px;
	top:4.375001430511475px;
}.ei48_194_276_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:11.302083015441895px;
	height:21.14583396911621px;
	position:absolute;
	left:12.031243324279785px;
	top:9.479164123535156px;
}.e48_197 { 
	width:34px;
	height:35px;
	position:absolute;
	left:1032px;
	top:30px;
}.ei48_197_239_120 { 
	width:24.726266860961914px;
	height:25.45454216003418px;
	position:absolute;
	left:4.636223316192627px;
	top:4.7727274894714355px;
}.ei48_197_240_0 { 
	width:24.72626495361328px;
	height:25.454544067382812px;
	position:absolute;
	left:4.636224269866943px;
	top:4.772716999053955px;
}